<div class="panel panel-success" ng-contoller="TestCtrl">
	<!-- ng-repeat will create a loop -->
  	<li ng-repeat="mvpd in mvpds">
  		<!-- ng-show will show the entity only when it is not expired -->
    	<div ng-show="mvpd.expired_at == nil">{{ mvpd.name }} </div>
        {{ "======================" }}
    </li>
</div>