<div class="panel panel-success" ng-contoller="TestCtrl">
	<!-- ng-repeat will create a loop -->
  	<li ng-repeat="mvpd in mvpds">
  		<!-- ng-show will show the entity only when it is not expired -->
    	<div ng-show="mvpd.expired_at == nil">
    		{{ "Id : " + mvpd.id }} 
    		{{ "Name : " + mvpd.name }} 
    		<section ng-controller="PanelCtrl as panel">
    			<ul class="nav nav-pills">
    				<li ng-class="{ active:panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Code</a> </li>
					<li ng-class="{ active:panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">History</a></li>
					<li ng-class="{ active:panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Systems</a></li>
    			</ul>
    			<div class="panel" ng-show="panel.isSelected(1)">
					<p>{{mvpd.code}}</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(2)">
					<p>None yet</p>
				</div>
				<div class="panel" ng-show="panel.isSelected(3)" ng-controller="SystemCtrl">
					<!-- <p>Need to add</p> -->
					<li ng-repeat="system in systems">
						{{system.name}}
						{{"----------"}}
						{{system.code}}
					</li>
				</div>
			</section>
			
    	</div>
    </li>
</div>


